html{
  scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    color: #595959;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;    
}

.btn{
    color: white;
    margin: 0 auto;
    padding: 10px 35px 10px 35px;
    text-transform: uppercase;
    background-color: gold;
    border: none;
    transition: all .2s ease-in-out;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.main{
    padding: 15px;
}

.about hr, .works hr, .follow hr, .contact hr, .carousel hr{
    border: 1px solid goldenrod;
    margin-bottom: 30px;
    width: 100px;
}

.hidden{
    display: none;
}

.block--left{
    float: left !important;
}

.block--right{
    float: right;
}

.text--center{
    text-align: center;
}

/*---welcome---*/

.about h2, .works h2, .follow h2, .contact h2{
    text-transform: uppercase;
}

.welcome{
    background-image: 
    url(../img/welcome.png);
    background-size: cover;
    text-align: center;
}

@media (max-width: 768px){
    .welcome{
        background-position: center center;
    }
}

.welcome__body{
    min-height: 60vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome__main_title{
    margin: 0;
    padding: 0;
}

.welcome__logo{
    margin-top: 10vh;
    margin-bottom: 35px;
}

.welcome__logo--link{
    border-bottom: none !important;
}

/*hr*/
.welcome__break{
    border: 2px solid white;
    width: 100px;
}

.welcome__title{
    font-size: 3.5em;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 576px){
    .welcome__title{
        font-size: 2.5em;
    }
}

/*p*/
.welcome__text{
    font-size: 1.3rem;
    max-width: 40vw;
}

@media (max-width: 768px){
    .welcome__text{
        max-width: 80vw;
    }
}

@media (max-width: 576px){
    .welcome__text{
        font-size: 1.2em;
    }
}

.welcome__arrow{
    animation-duration: 6s;
    animation-name: downAndUp;
    animation-iteration-count: infinite;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 1vh;
}
    
@keyframes downAndUp{
    from{
        transform: translateY(0px);
    }
    35%{
        transform: translateY(15px);
    }
    70%{
        transform: translateY(0px);
    }
    to{
        transform: translateY(0px);
    }
}

/*---menu---*/

.nav{
    background-color: #f1f1f1;
    border-bottom: 0.1px solid lightgrey;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 100;
}

/*ul*/
.nav__list{
    height: 54px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

@media (max-width: 768px){
    .nav__list{
        height: auto;
    }
}

/*li*/
.nav__item{
    display: inline-block;
    float: right;
    text-transform: uppercase;
}

.nav__mobile_button{
    height: 54px;
    float: right;
    width: 100%;
    text-transform: uppercase;
}

.mobile_button__link{
    text-align: center;
    font-size: 2.5rem;
    display: block;
    margin: 0 auto;
}

@media (min-width: 769px){
    .mobile_button__link{
        display: none;
        float: right;
    }
}

.mobile_button__icon{
    color: #595959;
    text-decoration: none;
    width: 36px;
    padding-bottom: 5px;
    height: 46px;
}

/*Linki*/

@media (max-width: 768px){
    .nav__item{
        display: none;
        display: block;
        height: 54px;
    }
}

.nav__link{
    color: #595959;
    display: block;
    padding: 4px 4px;
    margin: 12px 20px;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.nav__link:hover{
    color: goldenrod;
    transform: scale(1.1);
}

.nav__link--current{
  border-bottom: 2px solid goldenrod;
}

@media screen and (max-width: 768px) {
  .nav__item{
      width: 100%;
  }
}

/*---about me---*/

.about{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

.about__title{
    text-align: center;
}

/*p*/
.about__text{
    margin-top: 0;
    text-align: center;
    width: 60vw;
}

@media (max-width:768px){
    .about__text{
    margin-top: 0;
    margin-bottom: 2vh;
    padding-top: 7vh;
    }
}

@media (max-width:768px){
    .about__text{
        width: 80vw; 
    }
}

@media (max-width:576px){
    .about__text{
        width: 80vw; 
    }
}

/*---works---*/

.works{
    padding-top: 80px;
}

.works__body{
    display: grid;
    filter: grayscale(50%);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    min-height: 100vh;
    margin-top: 30px;
    text-align: center;
}

@media (max-width: 768px){
    .works__body{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (max-width: 576px){
    .works__body{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.works__block, .works__block--darker{
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.works__block--darker{
    height: 100%;
    width: 100%;
}

.works__block--darker:hover{
    background: rgba(0, 0, 0, 0.6);
}

.works__wystawy{
    display: flex;
    background-image: url(../img/wystawy22.png);;
    grid-area: 1/1/1/3;
}

@media (max-width: 768px){
    .works__wystawy{
        grid-area: 1/1/2/2;
    }
}

@media (max-width: 576px){
    .works__wystawy{
        grid-area: 1/1/2/2;
    }
}

.works__warsztaty{
    background-image: 
    url(../img/ikonyWorkshop.png);
    grid-area: 2/1/2/1;
}

@media (max-width: 768px){
    .works__warsztaty{
        grid-area: 1/2/2/3;
    }
}

@media (max-width: 576px){
    .works__warsztaty{
        grid-area: 2/1/3/2;
    }
}

.works__galeria{
    background-image: 
    url(../img/kk.jpg);
    grid-area: 1/3/3/3;
}

@media (max-width: 768px){
    .works__galeria{
        grid-area: 2/1/3/2;
    }
}

@media (max-width: 576px){
    .works__galeria{
        grid-area: 3/1/4/2;
    }
}

.works__film{
    background-image: 
    url(../img/ikonaWork.png);
    grid-area: 2/2/3/3;
}

@media (max-width: 768px){
    .works__film{
        grid-area: 2/2/2/3;
    }
}

@media (max-width: 576px){
    .works__film{
        grid-area: 4/1/5/2;
    }
}


.works__link{
    text-decoration: none;
}

.works__caption{
/*    flex*/
    color: white;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
/*    others*/
    padding: 10px 40px 14px 40px;
    position: relative;
    min-height: 0px;
    min-width: 0px;
    transition-property: min-width, min-height;
    transition-duration: 0.7s;
    overflow: hidden;
}

.works__caption:hover{
    min-height: 20vh;
    min-width: 15vw;
}

@media (max-width: 576px){
    .works__caption:hover{
        min-height: 10vh;
        min-width: 40vw;
    }
}

.works__caption:before, .works__caption:after, 
.works__caption>:first-child:before, .works__caption>:first-child:after
{
    border-color: white;
    border-style: solid;
    content:'';
    height: 20px;
    position: absolute; 
    width: 20px; 
}

.works__caption:before, .video__button{
    margin-bottom: 20px;
}

.works__caption:before, .video__button:before {
    border-width: 1px 0 0 1px;    
    top: 0;
    left: 0;
}

.works__caption:after, .video__button:after {
    border-width: 1px 1px 0 0;
    top:0;
    right:0;
}

.works__caption>:first-child:before, .video__button>:first-child:before {
    border-width: 0 1px 1px 0;   
    bottom:0;
    right:0;
}

.works__caption>:first-child:after, .video__button>:first-child:after{
    border-width: 0 0 1px 1px;
    bottom:0;
    left:0;
}

.works__title, .works__text{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 5px;
}

.works__title{
    border-bottom: 1px solid white;
    color: white;
    text-transform: uppercase;
    place-self: center;
}

.works__text{
    color: white;
    place-self: center;
}

.works__btn{
    background-position: center center;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*---Carousel---*/

.carousel{
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 100px;
    text-align: center;
    width: 60vw;
}

@media (max-width: 768px){
    .carousel{
        width: 80vw;
    }
}

.carousel__author{
    color: dimgrey;
}

.carousel-indicators {
    margin-top: 30px;
    position: relative !important;
}

.carousel-indicators li{
    background-color: #d3d3d3 !important;
    border-radius: 100%;
    height: 12px !important;
    width: 12px !important;
}

.carousel-indicators li.active{
    background-color: goldenrod !important;
    height: 13px !important;
    width: 13px !important;
}

/*---videoConatainer---*/

.video{
    background-image: url(../img/ikonyWorkshop.png);
    background-size: cover;
    background-position: center right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: 100% !important;
    min-height: 60vh;
    padding-bottom: 40px;
}

.video__button{
    font-size: 2.5em;
    padding: 6px 26px 10px 30px;
    position: relative;
}

.video__text{
    margin: 0;
}

.video__button:before, .video__button:after, .video__button>:first-child:before, .video__button>:first-child:after
{
    position: absolute; 
    content:'';
    width: 20px; 
    height: 20px;
    border-color: black;
    border-style: solid;
}

.video__link{
    color: black;
    filter: grayscale(40%);
    text-transform: uppercase;
    text-decoration: none;
}

/*---Follow---*/

.follow{
    padding-top: 60px;
    padding-bottom: 40px;
}

@media (max-width: 576px){
    .follow{
        padding-top: 80px;
        padding-bottom: 0px;
    }
}

.follow__title{
    text-align: center;
}

.follow__list{
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 0;
    width: 60vw;
}

@media (max-width: 576px){
    .follow__list{
        margin-top: 30px;
        margin-bottom: 90px;
        width: 80vw;
    }
}

.follow__item{
    opacity: 0.6;
}

.follow__item:hover{
    background-color:goldenrod;
    border-radius: 50%;
    transition: background 0.2s, color 0.2s;
    filter: invert(100%);
    opacity: 1 !important;
}

.follow__item:hover:after{
    pointer-events: none;
    position: absolute;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    box-shadow: inset 0 0 0 10px black;
    top: 2px;
    left: 2px;
}

.follow__link{
    display: flex;
    padding: 30px 30px;
}

.follow__img{
    height: 40px;
    width: 40px;
}

/*---contact---*/

.contact{
 /*   background-image: url(../img/.png);*/
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 110px;
}

.contact__body{
    margin: 0 auto;
    width: 60vw;
}

@media (max-width: 576px){
    .contact__body{
        width: 80vw;
    }
}

.contact__title, .contact__text, .contact__text--required{
    text-align: center;
}

.contact__text--required{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.contact__text{
    margin: 0 auto;
    margin-bottom: 40px;
}

.contact__form{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.contact__input, .contact__textarea{
    border-color: goldenrod;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 15px;
    padding: 15px 25px 15px 25px;
}

.contact__textarea{
    min-height: 100px;
    line-height: 1.25em;
    resize: none;
}

.contact__text--required, .contact__button{
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 800px){
    .contact__text--required{
        display: block;
        float: none;
        text-align: center;
    }
}

@media (max-width: 800px){
    .contact__button{
        display: block;
        float: none;
        margin: 0 auto;
        margin-top: 20px;
    }
}

/*---footer---*/

.footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 10px;
}

.footer__angle_up{
    margin-bottom: 30px;
}

.footer__logo{
    margin-bottom: 5px;
}